<h2>Nemesis</h2>
<div class="row">
  <div class="border offset-3 col-6 nemesis">
    <div class="nemesis-name">{{ nemesis.name }}</div>
    <div class="nemesis-rules">{{ nemesis.rules }}</div>
  </div>
</div>
<h2>Nemesis deck</h2>
<p>Set up the nemesis deck with the following basic and upgraded cards</p>
<table class="table table-sm">
<thead class="thead-dark">
  <tr>
    <th scope="col">Basic/Upgraded Nemesis Cards</th>
    <th scope="col">1 Player</th>
    <th scope="col">2 Players</th>
    <th scope="col">3 Players</th>
    <th scope="col">4 Players</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">Tier 1</th>
    <td>1 / 0</td>
    <td>3 / 0</td>
    <td>5 / 0</td>
    <td>8 / 0</td>
  </tr>
  <tr>
    <th scope="row">Tier 2</th>
    <td>3 / 0</td>
    <td>5 / 0</td>
    <td>6 / 0</td>
    <td>7 / 0</td>
  </tr>
  <tr>
    <th scope="row">Tier 3</th>
    <td>7 / 0</td>
    <td>7 / 0</td>
    <td>7 / 0</td>
    <td>7 / 0</td>
  </tr>
</tbody>
</table>
