<mat-toolbar>
  <span class="app-brand">{{ title }}</span>

  <span class="toolbar-spacer"></span>

  <app-theme-switcher></app-theme-switcher>
</mat-toolbar>

<div class="main-container">
  <app-market-settings></app-market-settings>
  <app-market-display></app-market-display>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/kbarnes3/AeonsEnd" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
<footer class="footer" role="contentinfo">
  <div class="footer-inner">
    <p>&copy; 2016-2026 Kevin &amp; Kaitlin Barnes</p>
    <p>Built from version {{ gitVersion }}</p>
  </div>
</footer>
