<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand">{{ title }}</span>
  </div>
</nav>

<div class="container main-container">
  <app-market-settings></app-market-settings>
  <app-market-display></app-market-display>
</div> <!-- /container -->

<a class="github-fork-ribbon right-top d-none d-md-block" href="https://github.com/kbarnes3/AeonsEnd" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
<footer class="footer" role="contentinfo">
  <div class="container">
    <p>&copy; 2019 Kevin &amp; Kaitlin Barnes</p>
  </div>
</footer>
