<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <span class="navbar-brand">{{ title }}</span>
  </div>
</nav>

<div class="container main-container">
  <app-market-settings></app-market-settings>
  <h2>Setup quick reference</h2>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Basic Nemesis Cards</th>
        <th scope="col">1 Player</th>
        <th scope="col">2 Players</th>
        <th scope="col">3 Players</th>
        <th scope="col">4 Players</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Tier 1</th>
        <td>1</td>
        <td>3</td>
        <td>5</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">Tier 2</th>
        <td>3</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">Tier 3</th>
        <td>7</td>
        <td>7</td>
        <td>7</td>
        <td>7</td>
      </tr>
    </tbody>
  </table>
</div> <!-- /container -->

<a class="github-fork-ribbon right-top d-none d-md-block" href="https://github.com/kbarnes3/AeonsEnd" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
<footer class="footer" role="contentinfo">
  <div class="container">
    <p>&copy; 2019 Kevin &amp; Kaitlin Barnes</p>
  </div>
</footer>
