.card-name {
    text-align: center;
    font-size: 1.2em;
}

.card-cost {
    text-align: right;
    margin-bottom: 60px;
}

.card-type {
    text-align: center;
}

.gem-card {
    background-color: plum;
}

.relic-card {
    background-color: lightskyblue;
}

.spell-card {
    background-color: gold;
}
