.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.card-tile {
  border: 1px solid var(--mat-sys-outline-variant);
  padding: 8px;
  min-height: 120px;
  color: #000;
}

.card-name {
    text-align: center;
    font-size: 1.2em;
}

.card-cost {
    text-align: right;
    margin-bottom: 60px;
}

.card-type {
    text-align: center;
}

.gem-card {
    background-color: plum;
}

.relic-card {
    background-color: lightskyblue;
}

.spell-card {
    background-color: gold;
}
