<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
        <label for="market-source">Market Cards</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4 input-group">
      <div class="input-group-prepend" ngbDropdown autoClose="outside" (openChange)="onDropdownChanged($event)" >
        <button class="btn btn-secondary" ngbDropdownToggle type="button" id="market-source">{{ expansionChooser.shortLabel }}</button>
        <div ngbDropdownMenu>
          <app-expansion-chooser #expansionChooser></app-expansion-chooser>
        </div>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="onGenerate()">Generate</button>
      </div>
    </div>
  </div>
</div>
<app-market-selection #marketSelection></app-market-selection>
